@CHARSET "UTF-8";

.logo {
	float: left;
	padding: 0 0 0 0;
}

.right_header {
	width: 350px;
	float: right;
	text-align: right;
	color: #000000;
	padding: 0 0 0 0;
}

.right_header a {
	margin: 0 5px 0 5px;
	text-decoration: underline;
	color: #000000;
}

.right_header a.messages {
	background: url(img/comment.png) no-repeat right;
	padding-right: 20px;
}

.right_header a.logout {
	background: url(img/user_logout.png) no-repeat right;
	padding-right: 20px;
}
